<div *ngFor="let beer of beers">
  <div class="row">
    <div class="col-6">
      <h2 class="">{{ beer.name }}</h2>
      <p class="">{{ beer.description }}</p>
    </div>
    <div class="col-4">
      <img class="" style="height: 80px;" src="{{ beer.image_url }}" alt="{{ beer.name }}">
    </div>
  </div>
</div>

<div *ngIf="beers" class="row">
  <button class="btn btn-primary" (click)="nextPage()">Next</button>
  <button class="btn btn-danger" (click)="previousPage()">Previous</button>
</div>